html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*hoso*/

.avatar {
    position: relative;
    width: 2.375rem;
    height: 2.375rem;
    cursor: pointer;
    margin-top:15px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.avatar.avatar-online:after {
    background-color: #71dd37;
}

.pull-up {
    transition: all 0.25s ease;
}

.pull-up:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 0.25rem 1rem rgba(161, 172, 184, 0.45);
    z-index: 30;
    border-radius: 50%;
}






